body {
    background-color: lavenderblush;
}

body header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: lavender;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: blueviolet;
    font-size: 3.5rem;
}

.options {
    margin-bottom: 30px;
}

.options button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.options button:hover {
    border-style: solid;
    border-color: teal;
    background-color: blueviolet;
}

.human, .computer {
    font-size: 2.5rem;
    font-weight: bolder;
}

.winner {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 45px 0;
    color: rgb(177, 56, 177);
}

.scores {
    font-size: large;
    font-weight: 450;
}